xml.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="records">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="customer_info">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name">
                        <xs:annotation>
                            <xs:documentation>name element must not be empty</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                 <xs:minLength value="1"/>
                                <xs:maxLength value="21"/>
                            </xs:restriction>
                       </xs:simpleType>
                    </xs:element>
                    <xs:element name="surname">
                        <xs:annotation>
                            <xs:documentation>name element must not be empty</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                 <xs:minLength value="1"/>
                                 <xs:maxLength value="31"/>
                            </xs:restriction>
                       </xs:simpleType>
                    </xs:element>    
                    <xs:element name="gender">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                     <xs:maxLength value="2"/>
                                         <xs:enumeration value="M"/>
                                         <xs:enumeration value="F"/>
                                </xs:restriction>
                            </xs:simpleType>
                    </xs:element>     
                    <xs:element name="occupancy">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                     <xs:maxLength value="31"/>
                                </xs:restriction>
                            </xs:simpleType>
                    </xs:element> 
                    <xs:element name="level_of_education">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                     <xs:maxLength value="5"/>
                                         <xs:enumeration value="PhD"/>
                                         <xs:enumeration value="MSc"/>
                                        <xs:enumeration value="BSc"/>
                                        <xs:enumeration value="HS"/>
                                        <xs:enumeration value="PS"/>
                                </xs:restriction>
                            </xs:simpleType>
                    </xs:element>     
                    <xs:element name="email">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                            <xs:pattern value=".*@(gmail|hotmail|yahoo)\.com"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>      
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="bank_account_info">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="bank_account_number">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                     <xs:maxLength value="15"/>
                                     <xs:pattern value="\d{4}-\d{7}"/>
                                </xs:restriction>
                            </xs:simpleType>
                    </xs:element>     
                    <xs:element name="IBAN">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                     <xs:maxLength value="30"/>
                                     <xs:pattern value="TR\d{2}\s(\d{4}\s){4}\d{2}"/>
                                </xs:restriction>
                            </xs:simpleType>
                    </xs:element>
                    <xs:element name="account_type">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                     <xs:maxLength value="15"/>
                                     <xs:enumeration value="deposit"/>
                                     <xs:enumeration value="drawing"/>
                                     <xs:enumeration value="daily_deposit"/>
                                </xs:restriction>
                            </xs:simpleType>
                    </xs:element>    
                    <xs:element name="total_balance_available">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:int">
                            <xs:attribute name="currency_unit" use="optional">
                                 <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:pattern value="(€|₺|$)"/>
                                  </xs:restriction>
                              </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute type="xs:long" name="bigEnd_Version" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="available_for_loan">
                     <xs:simpleType>
                       <xs:restriction base="xs:string">
                           <xs:pattern value="(😊|☹)"/>
                       </xs:restriction>
                     </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>